:root {
    --text-color: #333;
    --black-color: #000;
    --white-color: #fff; 
    --hover-color: #2568ef;
    --pink-color: #ff3366;
    --blue-color: #2b44ff;
    --button-color: #2668ef;
    --border-color-grey: #e0dede;
    --border-color-darkgrey: #d9d9d9;
    --slider-height: 640px;
    --img-height-big: 568px;
    --img-height-small: 232px;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Nunito', 'Lato', sans-serif;
    line-height: 1.6em;
}

.m-l-10 {
    margin-left: 10px;
}

.m-b-8 {
    margin-bottom: 8px;
}

.m-b-15 {
    margin-bottom: 15px;
}

.m-b-40 {
    margin-bottom: 40px;
}

.m-t-40 {
    margin-top: 40px;
}

.p-l-30 {
    padding-left: 30;
}

.btn {
    height: 46px;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--white-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    min-width: 110px;
    border-radius: 6px;
    padding: 12px 30px;
    transition: .3s;
    cursor: pointer;
}

.btn:hover {
    background-color: #48494b;
    color: var(--white-color);
}

.btn--pink {
    background-color: var(--pink-color);
}

.btn--primary {
    background-color: var(--button-color);
}

.btn--white {
    background-color: var(--white-color);
    color: var(--text-color);
}

.btn--white:hover {
    background-color: var(--white-color);
    color: var(--hover-color);

}

.btn-sup {
    font-size: 1rem;
    line-height: 1.8rem;
    color: var(--white-color);
    text-transform: uppercase;
    padding: 4px 6px;
    text-align: left;
    margin-left: 8px;
    top: 100%;
    border-radius: 6px;
}

.btn-sup--pink {
    background-color: var(--pink-color);
}

.btn-sup--blue {
    background-color: var(--blue-color);
}

.sidebar-item {
    padding: 0 4px 50px 4px;
}

.info__cate {
    display: inline-block;
    height: 28px;
    background-color: var(--white-color);
    margin-bottom: 14px;
    font-size: 1.4rem;
    border-radius: 30px;
}

.info__cate-double {
    display: flex;
    margin-bottom: 14px;

}

.info__cate-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 14px;
    border: 1px solid #e0dede;
    border-radius: 30px;
    color: var(--text-color);
    transition: .3s;
    background-color: var(--white-color);
}

.info__cate-link:hover {
    color: var(--hover-color);
}

.cate-title {
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: lowercase;
    display: block;
    line-height: 26px;
    height: 26px;   
    margin-left: 24px;
}

.cate-dot {
    display: block;
    position: absolute;
    background-color: #676767;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    line-height: 26px;
}

.cate-dot--violet {
    background-color: #994db1;
}

.cate-dot--blue {
    background-color: #2590ed;
}

.cate-dot--darkblue {
    background-color: #0d30c3;
}

.cate-dot--pink {
    background-color: #c74970;
}

.cate-dot--orange {
    background-color: #ed7e4f;
}

/* img overlay book */
.img-item {
    text-decoration: none;
    display: block;
    position: relative;
    height: 160px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 30px;
}

.img-item__book {
    display: block;
    position: absolute;
    border-top: 46px solid #2b44ff;
    border-right: 46px solid #fff;
    top: 100%;
    right: -19%;
    transition: all 0.25s ease;
}

.img-item:hover .img-item__book {
    right: 0px;
    top: 114px;
    transition: all 0.25s ease;
}

.img-item__img {
    height: 100%;
    width: 100%;
    border-radius: 6px;
}

.img-item__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.2s ease;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

.img-item:hover .img-item__overlay {
    opacity: 1;
}

/* tab info */
.tag-info {
}

.tag-info__title {
    margin: 0 0 12px 0;
}

.tag-info__title-size-22 {
    font-size: 2.2rem;
}

.tag-info__title-link {
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 800;
    line-height: 2rem;
}

.tag-info__title-link--slide {
    text-decoration: none;
    font-size: 3.6rem;
    color: var(--white-color);
    font-weight: 800;
    line-height: 4.5rem;
    max-width: 56%;
    display: inline-block;
}

.tag-info__date {
    display: flex;
    font-size: 1.2rem;
    font-weight: 700;
    color: #9F9F9F;
    align-items: center;
}

.tag-info__center {
    justify-content: center;
    text-align: center;
}

.tag-info__date--slide {
    color: var(--white-color);
    line-height: 2.1rem;
}

.tag-info__title-link-recent {
    font-size: 1.8rem;
    line-height: 2.2rem;
}

.tag-info__title-link-recent:hover,
.tag-info__by-link:hover {
    color: var(--hover-color);
}

.tag-info__by {

}

.tag-info__by-link {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
}

.tag-info__by-slider {
    text-decoration: none;
    color: var(--white-color);
    font-weight: 600;
}

.tag-info__dot {
    width: 6px;
    height: 6px;
    border-radius: 4px;
    margin: 0 8px;
    border: 1px solid #909090;
}

.tag-info__date-time {

}

.tag-info__realtime {

}

@keyframes fadeIn {
    from { opacity: 0;}
    to { opacity: 1;}
}

.info__title-link {
    font-size: 2.2rem;
    margin-bottom: 8px;
    line-height: 2.7rem;
    display: block;
    width: 100%;
}

.info__title-link:hover {
    color: var(--hover-color);
}

.info__title-big {
    font-size: 3rem;
    line-height: 3.7rem;
}

.info__title-link--white {
    color: var(--white-color);
}

.item-content {
    margin-bottom: 40px;
}

.item-content__link {
    text-decoration: none;
    display: block;
    position: relative;
    height: var(--img-height-small);
    width: 100%;
    overflow: hidden;
    margin-bottom: 30px;
    border-radius: 6px;
}

.item-content__book {
    display: block;
    position: absolute;
    border-top: 48px solid #2b44ff;
    border-right: 48px solid #fff;
    top: 100%;
    right: -48px;
    transition: all 0.25s ease;
    opacity: 0;
}

.item-content__link:hover .item-content__book {
    right: 0px;
    top: calc(var(--img-height-small) - 20%);
    transition: all 0.25s ease;
    opacity: 1;
}

.item-content__container-img {
    position: relative;
    height: 100%;
}

.item-content__img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    object-fit: cover;
}

.item-content__rate {
    font-size: 1.4rem;
    position: absolute;
    color: #fff;
    z-index: 1;
    top: 26px;
    right: 26px;
    line-height: 34px;
    width: 38px;
    text-align: center;
    border-radius: 50%;
    border: 2px solid var(--white-color);
    font-weight: 600;
}

.item-content__rate--darkblue {
    background-color: #2b44ff;
}

.item-content__rate--violet {
    background-color: #6641DB;
}

.item-content__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.2s ease;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

.item-content__link:hover .item-content__overlay {
    opacity: 1;
}

.item-content__desc {
    font-size: 1.6rem;
    margin-top: 16px;
    line-height: 2.6rem;
    height: 7.2rem;
    color: var(--text-color);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
